<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Add a new meal</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="margins">
	<h1>Add a meal</h1>
	<div class=center-form>
		<form action="#" th:action="@{/addMeal}" th:object="${meal}"
			method="POST" enctype="utf8" class="form">
			<div class="form-group">
				<label for="name">Meal name: </label> <input class="form-control"
					type="text" th:field="*{mealname}" id="name"
					placeholder="Name of the food">
				<div class="alert alert-warning"
					th:if="${#fields.hasErrors('mealname')}" th:errors="*{mealname}"></div>
			</div>
			<p></p>
			<div class="form-group">
				<label for="calories">Calories: </label> <input class="form-control"
					type=number min="0" step="1" th:field="*{calories}" id="calories"
					placeholder="Number of calories">
				<div class="alert alert-warning"
					th:if="${#fields.hasErrors('calories')}">Please enter a valid
					number</div>
			</div>
			<p></p>
			<div class="form-group">
				<label for="carbs">Carbs: </label> <input class="form-control"
					type=number min="0" step="1" th:field="*{carbs}" id="carbs"
					placeholder="Amount of carbs">
				<div class="alert alert-warning"
					th:if="${#fields.hasErrors('carbs')}">Please enter a valid
					number</div>
			</div>
			<p></p>
			<div class="form-group">
				<label for="sugar">Sugars: </label> <input class="form-control"
					type=number min="0" step="1" th:field="*{sugar}" id="sugar"
					placeholder="Amount of sugar">
				<div class="alert alert-warning"
					th:if="${#fields.hasErrors('sugar')}">Please enter a valid
					number</div>
			</div>
			<p></p>
			<div class="form-group">
				<label for="protein">Protein: </label> <input class="form-control"
					type=number min="0" step="1" th:field="*{protein}" id="protein"
					placeholder="Amount of protein">
				<div class="alert alert-warning"
					th:if="${#fields.hasErrors('protein')}">Please enter a valid
					number</div>
			</div>
			<br>
			<input type="submit" class="btn btn-success" value="Add meal!">
		</form>
		<form action="#" th:action="@{/}" method="get" class="form">
			<input type="submit" class="btn btn-warning"
				value="Go back to homepage">
		</form>
	</div>
</body>