<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Login to calorie counter</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="margins">
	<h1 th:inline="text" style="text-align:center">Welcome!</h1>
	<div>
		<form style="float: left" th:action="@{/logout}" method="post">
			<input type="submit" class="btn btn-danger" value="Logout" />
		</form>
		<form style="float: left; margin-left: 10%" th:action="@{/addMeal}"
			method="get">
			<input type="submit" class="btn btn-success" value="Enter a meal" />
		</form>
		<form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/createAdmin}" method="get" class="form">
			<input style ="float:left" type="submit" class="btn btn-secondary" value="Create admin">
		</form>
		<form action="#" th:action="@{/deleteUser}" method="get" class="form">
			<input style ="float:right" type="submit" class="btn btn-secondary" value="Delete user">
		</form>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Meal</th>
					<th>Calories</th>
					<th>Carbs / g</th>
					<th>Protein / g</th>
					<th>Sugar / g</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="meal : ${meals}">
					<td th:text="${meal.date}"></td>
					<td th:text="${meal.mealname}"></td>
					<td th:text="${meal.calories}"></td>
					<td th:text="${meal.carbs}"></td>
					<td th:text="${meal.protein}"></td>
					<td th:text="${meal.sugar}"></td>
					<td><a class="btn btn-warning" th:href="@{/editMeal/{id}(id=${meal.id})}">Edit</a></td>
					<td><a class="btn btn-danger" th:href="@{/deleteMeal/{id}(id=${meal.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${meals.size() == 0}">
			<h2>No meals to show yet, go add some!</h2>
		</div>
	</div>
</body>