<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Login to calories counter</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="center">
		<h1>Welcome to the Meal tracker diary!</h1>
		<br>
		<div th:if="${param.error}" class="error" style="color: red">
			<h3>Invalid email and password.</h3>
		</div>
		<div>
			<br>
			<form th:action="@{/login}" method="post" class="form">
				<div class="form-group">
					<label for="username">Email: </label> <input
						class="form-control" type="text" name="username" id="username"
						placeholder="example@mail.com">
				</div>
				<div class="form-group">
					<label for="username">Password: </label> <input
						class="form-control" type="password" name="password" id="password"
						placeholder="Username">
				</div>
				<div>
					<input type="submit" class="btn btn-success" value="Login">
				</div>
			</form>
			<form th:action="@{/register}" method="get" class="form">
				<input type="submit" class="btn btn-warning" value="Register">
			</form>
		</div>
	</div>
</body>